# https://developers.facebook.com/apps
REACT_APP_FB_APP_ID=
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_CAPTCHA=

# Local
REACT_APP_API_ENDPOINT=http://localhost:3001

# DEV
# REACT_APP_API_ENDPOINT=https://rsong-asset-management-api.cramickit.ninja

# QA
# REACT_APP_API_ENDPOINT=https://rsong-asset-management-api-qa.cramickit.ninja
