@import 'tachyons/variables';

.button {
	width: 124px;
}

.button-wide {
	width: 320px;
}
.text-button {
	width: 64px;
}
.hidebbutton {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}

.facebook-blue {
	background-color: #3B5998
}

.google-red {
	background-color: #DD4B39
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $black;
}

.checkbox-container input:checked ~ .checkmarkWhite {
	background-color: $white;
  }
.checkbox-container input:focus ~ .checkmarkWhite {
	border: 2px solid #809fff;
}

.ph0 input:focus ~ .bg-white{
	border: 1.3px solid #809fff;
}
span input:focus ~ .text-button{
	border: 1.3px solid #809fff;
}